extends layout

block content
  h1 Game
  p Room: #{room}  ---- Player&nbsp;
    span(id='playerId') 


  div(id='window' class='chat-window')

  br 

  input(type='text', id='chat', class='chat-input') 

  | hit return

  br 
  br

  if typeof qr !== 'undefined'
      div(style='max-width:250px') !{qr}

  if typeof shareURL !== 'undefined'
    a(href='#{shareURL}') Join Game


block script

    script.

        window._room =  '#{room}';

    script(src='https://code.jquery.com/jquery-3.0.0.min.js', integrity='sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=', crossorigin='anonymous')

    script(src='/javascripts/game.js')
