extends layout

block content
  h1 Main Screen
  p Room: #{room}


  if typeof qr !== 'undefined'

      div(style='max-width:250px') !{qr}

  if typeof shareURL !== 'undefined' 
    a(href='#{shareURL}') Join Game (use another browser)

block script

    script.

        window._room =  '#{room}';

    script(src='https://code.jquery.com/jquery-3.0.0.min.js', integrity='sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=', crossorigin='anonymous')

    script(src='/javascripts/index.js')
