doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    meta(name='viewport', content='width=device-width, initial-scale=1, maxiumum-scale=1, user-scalable=no')
    script(src='/socket.io/socket.io.js')


  body
    block content

    block script


