body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hidden {
    display: none;
}

.chat-window {
    border: 1px solid black; 
    min-height: 200px; 
    max-width: 600px;
    max-height: 300px;
    overflow: scroll;
    padding: 10px;
}

.bubble {
    width: 50%;
    clear: both;
}

.bubble--other {
    float: left;
}

.bubble--self {
    float: right;
    text-align: right;
}

.chat-input {
    height: 25px;
    width: 100%;
    border: 1px solid #aaa;
    max-width: 600px;
}